.luz {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
}

.vermelha {
    background-color: red;
}

.amarela {
    background-color: yellow;
}

.verde {
    background-color: green;
}

.cinza {
    background-color: gray;
}